In [1]:
import pandas as pd

In [27]:
x = pd.Series([6,3,8,9], index=['Q','W','E','R'])

In [17]:
age = {'Tim': 22, 'Paul':34, 'Annie':33}

In [18]:
x = pd.Series(age)

In [11]:
data = {'name': ['Tim', 'Annie', 'Paul'],
       'age': [22, 33, 34],
       'ZIP': ['10900', '81303', '81102']}

In [12]:
x = pd.DataFrame(data, columns=[x for x in data.keys()])

In [14]:
x

    name  age    ZIP
0    Tim   22  10900
1  Annie   33  81303
2   Paul   34  81102

### Accessing column in DataFrame:
    x['name']
    x.name

### Reindexing series
    x.index
    sorted(x.index)
    x.reindex(sorted(x.index))

In [24]:
y = pd.Series([6,3,8,9], index=['Q','W','T','Y'])

In [25]:
y

Q    6
W    3
T    8
Y    9
dtype: int64